################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/prototype-pdf/v16
/src/Pdf.Generator/obj
